.page {
    display: flex; 
    height: 100%; 
}

.main-nav {
    align-items: left; 
    background-color: lightblue; 
    position: fixed; 
    width: 100%; 
    height: 60px; 
}

.nav-item .active {
    color: #90a4ae;
}

.nav-item {
    color: #78909c;
}