.page {
    display: flex; 
    height: 100%; 
}

.main-nav {
    align-items: left; 
    background-color: lightblue; 
    position: fixed; 
    width: 100%; 
    height: 40px; 
}

a:active {
    color: forestgreen;
}

.active {
    color: forestgreen;
}